#mi {
    border: 5px solid red;
    border-radius: 50%;
}

.myc {
    border: 3px dotted gray;
}

div {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#n { background-color: darkseagreen; text-align: center; }

#p { background-color: darkseagreen; text-align: center; }

#r { background-color: darkseagreen; text-align: center; }

#n1 { background-color: sandybrown; }

#p1 { background-color: skyblue; }

#r1 { background-color: darkgrey; text-align: center; }